# Infromation from satellite source
este saca la data satelital de los puntos donde están las estaciones

In [1]:
import pandas as pd

In [2]:
cd

/home/jupyter

/opt/conda/lib/python3.10/site-packages/IPython/core/magics/osm.py:393: UserWarning: using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
/opt/conda/lib/python3.10/site-packages/IPython/core/magics/osm.py:428: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
prec = pd.read_parquet('data/fedearroz_prec_diaria_2024.parquet')
prec

,lat,lon,dpto,mun,date,prec,station
0,4.393330,-72.988890,META,UPIA,2015-07-06,0.0,BARRANCA_DE_UPIA
1,4.393330,-72.988890,META,UPIA,2015-07-07,0.0,BARRANCA_DE_UPIA
2,4.393330,-72.988890,META,UPIA,2015-07-08,NaN,BARRANCA_DE_UPIA
3,4.393330,-72.988890,META,UPIA,2015-07-09,NaN,BARRANCA_DE_UPIA
4,4.393330,-72.988890,META,UPIA,2015-07-10,NaN,BARRANCA_DE_UPIA
...,...,...,...,...,...,...,...
157826,7.475428,-73.479924,CESAR,AGUAZUL,2024-05-02,NaN,FEDEARROZ_SAN_ALBERTO
157827,7.475428,-73.479924,CESAR,AGUAZUL,2024-05-03,NaN,FEDEARROZ_SAN_ALBERTO
157828,7.475428,-73.479924,CESAR,AGUAZUL,2024-05-04,0.0,FEDEARROZ_SAN_ALBERTO
157829,7.475428,-73.479924,CESAR,AGUAZUL,2024-05-05,0.0,FEDEARROZ_SAN_ALBERTO
157830,7.475428,-73.479924,CESAR,AGUAZUL,2024-05-06,0.0,FEDEARROZ_SAN_ALBERTO

se saca el sumarize para iterar en chirps

In [ ]:
info = prec.groupby(['lat','lon','dpto','mun','station']).agg(
    max_date = ('date','max'), 
    min_date=('date','min'),
    porc_nan=('prec', lambda x: round(x.isna().mean() * 100, 2))
).reset_index()

## Extraction of info from Chirps

In [9]:
for index, row in info.head(1).iterrows():
    print(index)
    lat = round(row['lat'], 6)
    lon = round(row['lon'], 6)
    #star_month= row['max_date'].strftime('%m-%d')
    #end_month= row['min_date'].strftime('%m-%d')
    end_year= row['min_date'].strftime('%Y')
    start_year= row['max_date'].strftime('%Y')
    rest=int(start_year)-int(end_year)+2
    print(rest)
    print(start_year)
    print(lat)
    print(lon)
    !python getDataFromCubePoint.py --startDate "01-01" --endDate "12-31" --variable "chirps-precipitation" --numberofyears {rest} --lastYear {start_year} --downloadpath "/home/jupyter/chirps_data/" --x {lon} --y {lat}
    #!python getDataFromCubePoint.py --startDate "01-01" --endDate "03-01" --variable "chirps-precipitation" --numberofyears 2 --lastYear 2024 --downloadpath "/home/jupyter/" --x {lon} --y {lat}

0
15
2024
2.69814
-75.29815
-75.29815 2.69814
{'startDt': '2024-01-01', 'endDt': '2024-03-01', 'lon': '-75.29815', 'lat': '2.69814', 'variableName': 'chirps-precipitation'}
{'startDt': '2023-01-01', 'endDt': '2023-03-01', 'lon': '-75.29815', 'lat': '2.69814', 'variableName': 'chirps-precipitation'}
/home/jupyter/getDataFromCubePoint.py:84: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(response.json(),orient='records')
/home/jupyter/getDataFromCubePoint.py:84: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(response.json(),orient='records')
Requested from 2023-01-01 to 2023-03-01
Downloaded file saved to: None
Requested from 2024-01-01 to 2024-03-01
Downloaded file saved to: None

In [ ]:
hay un problema, dentro del csv la lat y lon no coincide con la que se paso en el request

In [ ]:
!python getDataFromCubePoint.py --startDate "09-01" --endDate "09-01" --variable "chirps-precipitation" --numberofyears 1 --lastYear 2023 --downloadpath "/home/jupyter/chirps_data/" --x -72.98889 --y 4.39333